@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Play", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.42;
  font-size: 16px;
  background-color: #fff;
  color: #666666;
  -webkt-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body,
html {
  height: 100%;
}

img {
  display: inline-block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
}

h1 {
  text-transform: uppercase;
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  color: #292929;
}

h2 {
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
}

h3 {
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #292929;
}

p {
  margin: 0;
  padding: 0;
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

button {
  line-height: 1.7;
  text-transform: uppercase;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 940px;
}

.buttons {
  display: block;
}

.btn {
  display: inline-block;
  padding: 18px 41px;
  border-radius: 30px;
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  border: none;
  text-transform: uppercase;
}

.btn--theme--red {
  background: #E01F3D;
}
.btn--theme--red:hover {
  background: #f5002d;
}

.btn--theme--transparent {
  background: transparent;
  text-transform: none;
  padding: 18px 10px;
  font-size: 16px;
}
.btn--theme--transparent:hover {
  color: #a9a9a9;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  padding: 24px 26px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F5F5F5;
  margin-bottom: 94px;
}
.header .header__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 38px;
}

.menu {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #292929;
}
.menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu .menu__list .menu__item {
  margin-right: 27px;
}
.menu .menu__list .menu__item:last-child {
  margin-right: 0px;
}

.contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__icon {
  max-width: 14px;
  max-height: 14px;
}
.contacts__icon .contact__icon {
  max-width: 100%;
  max-height: 100%;
}

.preview {
  background-color: #F5F5F5;
  background-image: url(../image/preview/headphones.png);
  background-repeat: no-repeat;
  background-position: left 75% center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-height: 650px;
}

.container--preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.preview__text {
  max-width: 45%;
  margin-bottom: 70px;
}
.preview__text .preview__text-title {
  margin-bottom: 23px;
}
.preview__text .preview__text-desc {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 35px;
  color: #292929;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
}
.features .features__item {
  margin-right: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #292929;
  font-style: normal;
  font-weight: normal;
}
.features .features__item .feature__icon {
  margin-right: 10px;
  max-width: 41px;
  max-height: 41px;
}
.features .features__item .feature__icon .feature__icon-img {
  max-width: 100%;
  max-height: 100%;
}
.features .features__item .feature__text {
  max-width: 90px;
}
.features .preview__item:last-child {
  margin-right: 0px;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
  height: 100vh;
  min-height: 650px;
}

.container--advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.advantage__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 590px;
  margin: 0 auto 60px;
}
.advantage__preview .advantage__title {
  margin-bottom: 18px;
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.advantage__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  padding: 0 4%;
}
.advantage__item::before {
  position: absolute;
  content: url(../../image/advantage/decor.svg);
  top: 62px;
  right: 0;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}
.advantage__item:last-child {
  padding-right: 0px;
}
.advantage__item:last-child::before {
  display: none;
}
.advantage__item:first-child {
  padding-left: 0px;
}

.advantage__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #F2F5F4;
  text-align: center;
  margin: 0 auto 24px;
}
.advantage__item-img-margin {
  height: 100%;
  width: 100%;
  padding: 30px;
}

.advantage__item-title {
  margin-bottom: 7px;
}

.reviews {
  padding: 64px 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100vh;
  min-height: 650px;
  background-color: #fff;
}
.reviews .reviews__title {
  margin-bottom: 32px;
}

.reviews__item {
  position: relative;
  background: #F8FAF9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  overflow: hidden;
}
.reviews__item::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: -65px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 83px;
  height: 83px;
  border-radius: 50%;
  background-color: #fff;
}

.reviews__item-avatar {
  margin-right: 40px;
}

.reviews__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  max-width: 500px;
}
.reviews__item-text .text__title {
  margin-bottom: 27px;
}
.reviews__item-text .text__desc {
  margin-bottom: 38px;
}

.reviews-users__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reviews-users__list .reviews-users__item {
  margin-right: 6px;
}
.reviews-users__list .reviews-users__item:last-child {
  margin-right: 0;
}

.interactive__avatar {
  width: 74px;
  height: 74px;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
}
.interactive__avatar:hover {
  border: 2px solid red;
}
.interactive__avatar--active {
  border-color: #E01F3D;
}
.interactive__avatar--active:hover {
  border: 4px solid #E01F3D;
}

.interactive__avatar-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.inner-form {
  background: #181818;
  height: 100vh;
  min-height: 650px;
  padding: 70px 0;
}

.form__title {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.section__title {
  color: #fff;
  text-align: center;
  margin-right: auto;
  margin-bottom: 58px;
  margin-top: auto;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11px;
}

.form__title {
  margin-bottom: 6px;
}

.form__row—textarea {
  margin-bottom: 33px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 15px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border-radius: 5px;
  border: 3px solid transparent;
  padding: 18px 12px;
}
.form__input--textarea {
  height: 152px;
  resize: none;
}
.form__input:focus {
  border: 3px solid #E01F3D;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form__controls:last-child {
  margin-bottom: 69px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 16px;
  margin-bottom: 18px;
}
.radio--checkbox .radio__visible {
  border-radius: 5px;
}
.radio--checkbox .radio__visible::before {
  background: url(../../image/icons/ok.svg) center center no-repeat;
}

.radio__title {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  margin-right: 10px;
}
.radio__visible::before {
  content: "";
  display: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #E01F3D;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form__btn {
  margin-top: 30px;
}

.fixed-menu {
  position: fixed;
  top: 30%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}

.fixed-menu__link {
  position: relative;
  display: block;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid transparent;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #E01F3D;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}