.fixed-menu{
    position: fixed;
    top: 30%;
    right: 3%;  
    z-index: $z-fixed-menu;
}

.fixed-menu__item{
    margin-bottom: 5px;
    
    &--active{
        .fixed-menu__link{
            border-color: #E01F3D;
        }
    }
}

.fixed-menu__link{
    position: relative;
    display: block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid transparent; 

    &:before{
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #E01F3D;        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

