.preview{
    background-color: #F5F5F5;
    background-image: url(../image/preview/headphones.png);
    background-repeat: no-repeat;
    background-position: left 75% center;
    display: flex;
    height: 100vh;
    min-height: 650px;
}

.container--preview{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.preview__main{
    
    padding-bottom: 60px;
}



.preview__text{
    margin-bottom: 84px;
    padding-top: 43px;
    max-width: 45%;

    .preview__text-title{
        margin-bottom: 23px;
    }

    .preview__text-desc{
        font-family: 'Alegreya Sans';
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        margin-bottom: 51px;
        color: #292929;
    }
}

.features{
    display: flex;
    
    .features__item{
        margin-right: 33px;
        display: flex;
        align-items: center;
        font-size: $baseFontsSize;
        color: #292929;
        font-style: normal;
        font-weight: normal; 
        
        .feature__icon{
            margin-right: 10px;
            max-width: 41px;
            max-height: 41px;

            .feature__icon-img{
                max-width: 100%;
                max-height: 100%;
            }
        }
        
        .feature__text{
            max-width: 90px;
        }
    }

    .preview__item:last-child{
        margin-right: 0px;
    }
}


