.reviews{
    padding: 64px 79px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    min-height: 650px;
    background-color: #fff;

    .reviews__title{
        margin-bottom: 32px;
    }
}

.reviews__item{
    position: relative;
    background: #F8FAF9;
    display: flex;
    padding: 42px;
    align-items: center;
    margin-bottom: 15px;
    // max-width: 80%;
    overflow: hidden;

    &::before{
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: -65px;
        transform: translate(-50%);
        width: 83px;
        height: 83px;
        border-radius: 50%;
        background-color: #fff;
    }

    
}

.reviews__item-avatar{
    margin-right: 40px;
}

.reviews__item-text{
    display: flex;
    flex-direction: column;
    text-align: start;
    max-width: 500px;
    

    .text__title{
        margin-bottom: 27px;
    }

    .text__desc{
        margin-bottom: 38px;
    }
}    

//users

.reviews-users__list{
    display: flex;
    justify-content: center;

    .reviews-users__item{
        margin-right: 6px;

        &:last-child{
            margin-right: 0;
        }
    }
}

.interactive__avatar{
    width: 74px;
    height: 74px;
    border: 4px solid transparent;
    border-radius: 50%;
    overflow: hidden;

    &:hover{
        border: 2px solid red;
    }

    &--active{
        border-color: #E01F3D;

        &:hover{
            border: 4px solid #E01F3D;
        }
    }
}

.interactive__avatar-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}